
                    <!-- Row start -->
                    <div class="row">
                        {% for data in result %}
                        <div class="col-sm-4 col-12 card-container">
                            <div class="card  mb-4">
                                <div class="card-header">
                                    <h5 class="card-title">{{ data.repo_name }}</h5>
                                </div>
                                <div class="card-body">
                                    {% if data.short_description %}
                                   
                                    <p>
                                        Description : {{ data.short_description }}
                                    </p>
                                    {% endif %}
                                    {% if data.repo_owner %}
                                
                                    <p>
                                        Repo Owner :{{ data.repo_owner}}
                        
                                    </p>
                                    {% endif %}
                                    
                                </div>
                                <div class="card-footer">
                                    <div class="card-body">
                                        <div class="d-flex gap-2">
                                            <button onclick="pull_image('{{ data.repo_name }}')" type="button" class="btn btn-outline-primary position-relative" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Click To Pull {{ data.repo_name }}">
                                                <i class="fs-3 icon-file_download m-0"></i>
                                            </button>
                                      
                                            <button type="button" class="btn btn-outline-success position-relative" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Star Count">
                                                <i class="fs-3 icon-stars m-0"></i>
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">     {{ data.star_count }}</span>
                                            </button>

                                            <button type="button" class="btn btn-outline-success position-relative" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Pull Count">
                                                <i class="fs-3 icon-download m-0"></i>
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">     {{ data.pull_count }}</span>
                                            </button>
                                            {% if data.is_automated %}
                                            <button type="button" class="btn btn-outline-success position-relative" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Is Automated">
                                                <i class="fs-3 icon-slack m-0"></i>
                                                 </button>
                                            {% endif %}
{% if data.is_official %}
                                            <button type="button" class="btn btn-outline-success position-relative" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Is Official">
                                                <i class="fs-3 icon-check-circle m-0"></i>
                                                  </button>
                                            {% endif %}

                                        </div>
                                    </div>
                                   </div> 
                            </div>
                        </div>
                     {% endfor %}
              
                    </div>
                    <!-- Row end -->
                    <div class="row">
                 
                        <div class="col-sm-12 col-12">
                       <center>
                                <div class="card-body">
                                    <div class="btn-group"role="group" aria-label="Basic outlined example">
                                        <button  {% if page == 1 %} disabled {% endif %}  onclick="page('previous')" type="button" class="btn btn-outline-danger">
                                          <span class="fs-3 icon-chevrons-left"></span>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger">
                                           {{ page }}
                                        </button>
                                        <button onclick="page('next')" type="button" class="btn btn-outline-danger">
                                          <span class="fs-3 icon-chevrons-right "></span>
                                        </button>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    
            