{% extends 'Main.html' %} {% block Main %} {% load static %}
<!-- Page wrapper start -->
<div class="page-wrapper">

    <!-- Main container start -->
    <div class="main-container">

        <!-- Sidebar wrapper start -->
        {% include 'Dashboard/Sidebar.html'%}
        <!-- Sidebar wrapper end -->

        <!-- App container starts -->
        <div class="app-container">

            <!-- App header starts -->
            {% include 'Dashboard/Topbar.html'%}
            <!-- App header ends -->

            <!-- App body starts -->
            <div class="app-body">

                <!-- Container starts -->
                <div class="container-fluid">

                    <!-- Row start -->
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <!-- Breadcrumb start -->
                            <ol class="breadcrumb d-none d-lg-flex mb-4">
                                <li class="breadcrumb-item">
                                    <i class="icon-home lh-1"></i>
                                    <a href="index.html" class="text-decoration-none">Home</a>
                                </li>
                                <li class="breadcrumb-item">Images</li>
                                <li class="breadcrumb-item">Search New Image</li>
                            </ol>
                            <!-- Breadcrumb end -->
                        </div>
                    </div>
                    <!-- Row end -->

                    <!-- Search container start -->
                    <!-- <form id="search_form" method="post"> -->
                        {% csrf_token %}
                        <input type="number" id="page" name="page" value="{{ page }}" hidden />
                        <div class="search-container d-lg-block d-none  mb-3 ">
                            <input type="text" class="form-control" id="search_keyword" name="search_keyword"
                                placeholder="Search" />
                            <i class="icon-search"></i>
                        </div>
                        <div class="alert_box">
                            <div class="alert border-info alert-dismissible fade show text-info" role="alert">
                                <b>Info!</b> Please Search For Docker images from docker Hub
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        
    
                        </div>
                    <!-- </form> -->
                    <!-- Search container end -->
                    <div class="search_result">
                        <div class="alert border-info alert-dismissible fade show text-info" role="alert">
                            <b>Info!</b> Please Search For Docker images from docker Hub
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert border-info alert-dismissible fade show text-info" role="alert">
                            <b>Info!</b> Please Make Sure yout internet connection is on befor search
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    </div>

                </div>
                <!-- Container ends -->

            </div>
            <!-- App body ends -->

        </div>
        <!-- Main container end -->

    </div>

    <script>
        function page(action) {
            var page = parseInt($('#page').val());
            if (action == "next") {
                $('#page').val(page + 1);
            } else if (action == "previous") {
                $('#page').val(page - 1);
            }
            console.log(page);
            submit_search(page);

        }
        function submit_search(page){
      
            $('.preload').css("visibility", "visible");
            var keyword = $('#search_keyword').val();
            let csf = $("input[name=csrfmiddlewaretoken]").val();
           

            $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": csf },
            url: '/Images/search_image_ajax', // Replace with your API endpoint
            data: {keyword,page},
            success: function(response) {
                // Handle the successful response
                $('.search_result').html(response);
            },
            error: function(error) {
                // Handle errors
                console.error('Error:', error);
            },
            complete: function() {
                // Hide loading indicator after the request is complete
                $('.preload').css("visibility", "hidden");
            }
        });
        }
        function pull_image(image){
      
      $('.preload').css("visibility", "visible");
      let csf = $("input[name=csrfmiddlewaretoken]").val();
     

      $.ajax({
      type: 'POST',
      headers: { "X-CSRFToken": csf },
      url: '/Images/pull_image_ajax', // Replace with your API endpoint
      data: {image},
      success: function(response) {
          // Handle the successful response
          $('.alert_box').html(response);
      },
      error: function(error) {
          // Handle errors
          console.error('Error:', error);
      },
      complete: function() {
          // Hide loading indicator after the request is complete
          $('.preload').css("visibility", "hidden");
      }
  });
  }
   
   
        $(document).ready(function () {

            // Submit the form when the Enter key is pressed
            $('#search_keyword').keypress(function (event) {
                var page = $('#page').val(1);
                if (event.which === 13) {
                    submit_search(1);
                    
                }
            });
     
        
 

    });
    </script>


    <!-- Page wrapper end -->
    {% endblock Main %}